/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 @import url('https://fonts.googleapis.com/css?family=Arizonia|Niconne|Parisienne');
html {
    font-size: 25px;
}
@media (min-width: 768px) {
    html {
        font-size: 25px;
    }
}

.container {
    max-width: 960px;
    font-family: 'Parisienne', 'Arizonia', cursive;
    font-size: 25px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

._1active {
    fill: mediumseagreen;

}
text._1active {
    fill: black;
    font: bold;
    font-size: 35px;
}

._2pendent {
    fill: moccasin;

}
text._2pendent {
    fill: darkgrey;
    font: bold;
    font-size: 35px;
}

._4removed {
    fill:lightgray;

}
text._4removed {
    fill: red;
    font: bold;
    font-size: 35px;
}

._3expired {
    fill:lightcoral;

}
text._3expired {
    fill: black;
    font: bold;
    font-size: 35px;
}

